<section class="bg-dark" id="banner">
    <img src={{usuario.bannerUrl}} alt="Banner">
</section>
<section class="container-fluid d-flex hr bg-dark" id="about">
    <div class="aboutContainers">
        <picture class="position-relative">
            
            <img src="https://media.gq-magazine.co.uk/photos/5e9ee080be258400088d6fc3/1:1/w_1080,h_1080,c_limit/20200421-psycho-04.jpg" alt="Profile Picture" class="img-thumbnail rounded-circle"/>
        </picture>
        <div class="position-relative ms-4">
            <h2 id="nombre">{{usuario.nombre}} {{usuario.apellido}}</h2>
            <h3>{{ usuario.cargoActual || 'Desempleado' }}</h3>
        </div>
    </div>
    <div class="aboutContainers">
        <h2 class="text-center display-4 mb-4">Sobre Mí</h2>
        <p class="lead text-center">{{ usuario.descripcion }}</p>
    </div>
    <button
    class="btn btn-warning mx-2 h-25"
    routerLink="/editusuario/{{ usuario.id }}"
    *ngIf="isLogged"
  >
    <!--editar -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-pencil-square"
      viewBox="0 0 16 16"
    >
      <path
        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
      />
      <path
        fill-rule="evenodd"
        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
      />
    </svg>
  </button>
</section>
