<section class="container-fluid hr bg-dark" id="projects">
    <h2 class="text-center display-4 py-4">Proyectos</h2>
    <article class="d-flex flex-wrap w-100 justify-content-around mt-5">
        <div class="card my-4" >
            <img src="../../../assets/images/proyectSampleImg.png" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-info mt-5">Go somewhere</a>
              <a href="#" class="btn btn-warning mt-5">Go somewhere</a>
            </div>
        </div>
        <div class="card my-4" >
            <img src="../../../assets/images/proyectSampleImg.png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-info mt-5">Go somewhere</a>
                <a href="#" class="btn btn-warning mt-5">Go somewhere</a>
            </div>
        </div>
        <div class="card my-4" >
            <img src="../../../assets/images/proyectSampleImg.png" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-info mt-5">Go somewhere</a>
              <a href="#" class="btn btn-warning mt-5">Go somewhere</a>
            </div>
        </div>
        <div class="card my-4" >
            <img src="../../../assets/images/proyectSampleImg.png" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-info mt-5">Go somewhere</a>
              <a href="#" class="btn btn-warning mt-5">Go somewhere</a>
            </div>
        </div>
        <div class="card my-4" >
            <img src="../../../assets/images/proyectSampleImg.png" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-info mt-5">Go somewhere</a>
              <a href="#" class="btn btn-warning mt-5">Go somewhere</a>
            </div>
        </div>
        <div class="card my-4" >
            <img src="../../../assets/images/proyectSampleImg.png" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-info mt-5">Go somewhere</a>
              <a href="#" class="btn btn-warning mt-5">Go somewhere</a>
            </div>
        </div>
    </article>
</section>