<div class="container">
  <div class="row">
    <form (ngSubmit)="onCreate()" novalidate #f="ngForm" class="text-dark">
      <div class="form-group">
        <label for="nombreInstitucion">Institucion</label>
        <input
          type="text"
          class="form-control"
          id="nombreInstitucion"
          name="nombreInstitucion"
          [(ngModel)]="nombreInstitucion"
          required
        />
      </div>
      <div class="form-group">
        <label for="titulo">Titulo</label>
        <input
          type="text"
          class="form-control"
          id="titulo"
          name="titulo"
          [(ngModel)]="titulo"
          required
        />
      </div>
      <button class="btn btn-dark mt-3">Agregar educacion</button>
    </form>
  </div>
</div>
